@import url("https://fonts.googleapis.com/css?family=Outfit");
:root {
    --font:"Outfit", sans-serif;
    --bg-color: hsl(212, 45%, 89%);
    --secondary-color:hsl(216, 15%, 48%);
    --teritary-color:hsl(218, 44%, 22%);
}

body {
    background-color:var(--bg-color);
    font-family:"Outfit", sans-serif;
    min-height:100dvh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight:700;
    color:var(--teritary-color);
}
p {
    font-weight:400;
    color:var(--secondary-color);
}
main {
    text-align:center;
    
}
.qr-container {
    background-color:white;
    max-width:20rem;  
    padding:16px;
    padding-bottom:40px;
    margin-bottom:5px;
    box-shadow:2px 5px 4px rgba(116, 139, 183,0.1);
}

img {
   width:100%;
 
}
.qr-container, img {
    border-radius:20px;
}

@media screen and (max-width:600px) {
    .qr-container {
       height:auto;
        flex-shrink:2;
    }
    .qr-container img {
       
    }
}